package server

import (
	"context"

)

var _ api.StrictServerInterface = &Handler{}

type Handler struct{}

//prints all methods in stdout
//go:generate go tool impl h*Handler api.StrictServerInterface