package {{.PackageName}}

import (
	"context"
	"fmt"

	sq "github.com/Masterminds/squirrel"
	"github.com/jackc/pgx/v5/pgxpool"
)

// Create{{.MessageName}} inserts a new {{.MessageName}} into the database.
func Create{{.MessageName}}(ctx context.Context, db *pgxpool.Pool, {{.MessageName | lower}} *{{.MessageName}}) error {
	query, args, err := sq.Insert(Table{{.MessageName}}).
		Columns({{.Fields | columns}}).
		Values({{.Placeholders}}).ToSql()
	if err != nil {
		return fmt.Errorf("failed to build query: %w", err)
	}
	_, err = db.Exec(ctx, query, args...)
	return err
}
