package {{.PackageName}}

import (
	"context"
	"fmt"

	sq "github.com/Masterminds/squirrel"
	"github.com/jackc/pgx/v5/pgxpool"
)

// Delete{{.MessageName}} deletes a {{.MessageName}} by ID.
func Delete{{.MessageName}}(ctx context.Context, db *pgxpool.Pool, id uuid.UUID) error {
	query, args, err := sq.Delete(Table{{.MessageName}}).
		Where(sq.Eq{Column{{.MessageName}}Id: id}).ToSql()
	if err != nil {
		return fmt.Errorf("failed to build query: %w", err)
	}
	_, err = db.Exec(ctx, query, args...)
	return err
}
