package {{.PackageName}}

import "github.com/google/uuid"

// {{.MessageName}} represents the {{.MessageName}} message.
type {{.MessageName}} struct {
{{- range .Fields }}
	{{.Name}} {{.Type}}
{{- end }}
}

// Table and column name constants for {{.MessageName}}
const (
	Table{{.MessageName}} = "{{.TableName}}"
{{- range .Fields }}
	Column{{.MessageName}}{{.Name}} = "{{.Column}}"
{{- end }}
)
